{% extends "base.html" %}
{% block tituloPestana %} MusicPro {% endblock %}
{% block contenido %} 
<body>
<div class="container">
    <!-- Header-->

    <!-- Content section 1-->
    <section id="scroll">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="img-fluid rounded-circle" src="static/img/01.jpg" alt="..." /></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">Dispuestos para ayudarte!</h2>
                        <p>En MUSICPRO encontrarás el catálogo más completo de Chile en instrumentos musicales y audio profesional. Acá se reúnen las marcas que un músico experto y profesional del sonido buscan, además quienes estén recién comenzando en este maravilloso mundo musical, también encontrarán aquí el producto indicado. Comprando con nosotros, puedes aprovechar las fantásticas ofertas que te podemos ofrecer!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Content section 2-->
    <section>
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6">
                    <div class="p-5"><img class="img-fluid rounded-circle" src="static/img/02.jpg" alt="..." /></div>
                </div>
                <div class="col-lg-6">
                    <div class="p-5">
                        <h2 class="display-4">Los mejores músicos nacionales!</h2>
                        <p>Tenemos el compromiso de ofrecer calidad y es por eso que la industria chilena nos prefiere para comprar sus instrumentos. Nos prefieren por nuestro sello de calidad y estandares internacionales de productos certificados, llevándo nuestros productos por todo el territorio nacional.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Content section 3-->
    <section>
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="img-fluid rounded-circle" src="static/img/03.jpg" alt="..." /></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">Vamos a rockear!</h2>
                        <p>Guitarras acústicas, guitarras eléctricas de 6 a 8 cuerdas, bajos activos y pasivos de 4 a 6 cuerdas, sets de batería, amplificadores, cabezales, accesorios y además artículos como audífonos, parlantes, interfaces, adaptadores, pedales, cuerdas, etc.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
{% endblock %}
